ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li{
    float: right;
}
li a{
    display: block;
    color: #000;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
}
a:hover{
    color: rgb(9, 117, 179);
}
#main{
    display:inline-block;
    margin-top: 80px;
    margin-left: 80px;
    width: 40%;
}
#main_image{
    margin-top: 50px;
    float: right;
    margin-right: 90px; 
}
.center{
    padding: 1px;
    text-align: center;
    width: 150px;
    height: 50px;
    color: black;
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: #000;
}

